.wrap {
  display: gird;
  align-content: center;
  justify-items: center;
  min-width: 100vw;
}
.wrap > svg {
  display: block;
  margin-inline: auto;
  height: auto;
}

.title {
  padding-block-start: 1em;
  color: white;
  font-weight: 400;
  text-align: center;
}
