.wrap {
  /* border: solid; */
  translate: 5% 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.wrap h3 {
  color: white;
  font-weight: 300;
  text-align: center;
}
.legends {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5em;
  margin-block-start: 1em;
}

.legends li {
  height: 5px;
  position: relative;
}
.legends .one {
  background-color: hsl(var(--map-point-bg, 214), 80%, 48%);
}
.legends .two {
  background-color: hsl(var(--map-point-bg, 214), 70%, 63%);
}
.legends .three {
  background-color: hsl(var(--map-point-bg, 214), 60%, 70%);
}

.legends .four {
  background-color: hsl(var(--map-point-bg, 214), 53%, 83%);
}
.legends .five {
  background-color: hsl(var(--map-point-bg, 214), 44%, 103%);
}

.legends .five::after,
.legends .one::after {
  content: 'High';
  position: absolute;
  font-size: 10px;
  font-weight: 200;
  padding: 10px;
  translate: -20% 0;
  color: white;
}
.legends .five::after {
  content: 'Low';
}

.gapLegendsForSelected {
  --sqr-size: 6px;
  inset-inline: 0;
  color: var(--unify-orange);
}
.gapLegendsForSelected ul {
  list-style: none;
  display: flex;
  gap: 3em;
  padding-inline-end: 1.4em;
}
.gapLegends li:nth-child(1)::before,
.gapLegendsForSelected li:nth-child(1)::before {
  content: '';
  display: inline-block;
  margin-inline-end: 0.4em;
  width: var(--sqr-size);
  height: var(--sqr-size);
  background-color: var(--legend-sm-color, rgb(94 196 100));
}
.gapLegends li:nth-child(2)::before,
.gapLegendsForSelected li:nth-child(2)::before {
  content: '';
  display: inline-block;
  margin-inline-end: 0.4em;
  width: var(--sqr-size);
  height: var(--sqr-size);
  background-color: #ff797d;
}

.invLegendsForSelected ul {
  font-size: 0.75rem;
}
.invLegendsForSelected li {
  list-style: none;
  position: relative;
  color: rgba(255, 255, 255, 0.753);
}
.invLegendsForSelected li:first-child::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 14px;
  translate: -140% 120%;
  background-color: rgb(217, 235, 62);
}
