.earthWrap {
  display: grid;
}
.earth,
.earthShadow,
.bg1,
.bg2,
.bg3,
.bg4 {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  aspect-ratio: 1;
  border-radius: 50%;
  height: 98%;
  margin: auto;
  translate: -12% 0;
  overflow: hidden;
  position: relative;
}
.earth > * {
  position: absolute;
  inset: 0;
  height: 133%;
  aspect-ratio: 1;
  /* translate: -2.49% -17%; */
  /* scale: 1 0.8; */
}

.earth .investmentImg{
  transition: opacity .2s ease-in;
  border: solid;
  height: 108%;
  translate: -20% 0px ;
  aspect-ratio: 1.54;
}
.bg1,
.bg2,
.bg3,
.bg4 {
  aspect-ratio: 1;
  scale: 1.3;
  background-color: #3451b4;
  opacity: 0.1;
  position: relative;
}

.bg1 {
  scale: 1.137;
  background-color: #3451b4;
  z-index: 3;
}
.bg3 {
  scale: 1.537;
  background-color: #3452b4c2;
  background: linear-gradient(
    to top in oklch,
    hsla(222, 62%, 49%, 0.5) 0%,
    hsl(235, 60%, 35%, 0.9) 102%
  );
}
.bg2 {
  overflow: unset;
  /* background-color: #172b75; */
  /* background: linear-gradient(to bottom, #172b75 0%, rgb(27 53 127) 100%); */
    background: linear-gradient(
    to top in oklch,
    hsla(222, 64%, 33%, 0.99) 3%,
    hsl(235, 62%, 23%, 0.994) 112%
  );

  opacity: 1;
  /* translate: calc(-12%-2px) 0; */
  translate: calc(-12% -1px) 0;
  z-index: 2;
}
.bg2:nth-child(2) {
  border-right: 10px solid rgba(22, 104, 226, 0.907);
  scale: 1.3 1.27;
  translate: calc(-12% + 8px) 0;
  rotate: -4deg;
}
.nav1,
.nav2,
.nav3,
.nav4,
.nav5 {
  position: absolute;
  background-color: #3569f8;
  height: 8%;
  aspect-ratio: 1;
  right: 4%;
  z-index: 3;
  top: 25%;
  translate: 50% 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 2px 2px 0px #00000018, 2px 2px 0px #03255585;
}
:is(.nav1, .nav2, .nav3, .nav4,.nav5) img {
  max-height: 58%;
}
:is(.nav1, .nav2, .nav3, .nav4,.nav5) h4 {
  font-size: 0.85rem;
  padding: 0;
  margin: 0px;
  align-self: flex-start;
  color: white;
  margin-block-start: -0.7em;
  font-weight: 300;
}
:is(.nav1, .nav2, .nav3, .nav4, .nav5)[data-status='inActive'] {
  background-color: #4560a7;
}
:is(.nav1, .nav2, .nav3, .nav4, .nav5)[data-show='hide'] {
  visibility: hidden;
}

.nav2 {
  top: 38%;
  right: 0%;
}
.nav3 {
  top: 51%;
  right: 0%;
}
.nav4 {
  top: 64%;
  right:3%;
}

.nav5 {
  top: 76%;
  right:10%;
}
/* .earth svg path:hover {
  transform: scale(.3 .3) !important;
  border: solid 12px yellow !important;
  scale: .3 !important;
} */

.commodity {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  margin-inline-start: auto;
  margin-inline-end: 20px;
}

.spendType {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  width: max-content;
  margin-inline-end: auto;
  margin-inline-start: 30px;
  color: white;
  z-index: 4;
}
.spendType ul,
.spendType li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.earth {
  box-shadow: 0 -1px 30px 12px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  z-index: 3;
}
.earthShadow {
  scale: 1.005;
  box-shadow: inset 0 -12px 34px 0 rgba(0, 0, 0, 0.2),
    inset 0 22px 34px 0 rgba(255, 241, 241, 0.3);
  z-index: 3;
  rotate: 120deg;
  border: solid 2px #1b307eb3;
  /* border: solid; */
  background-color: transparent;
  transition: 0.2s ease-in-out;
  transition-property: opacity display;
}
