.list {
  display: grid;
  color: white;
  padding: 0;
  row-gap: 1em;
  grid-template-columns: 80px repeat(3, 1fr);
  align-content: center;
}
.tile {
  background-color: #1427a7e6;
  background: linear-gradient(to bottom, #4f64d999 0%, #1427a7e6 100%);
  box-shadow: 0 1px 3px 0 rgba(9, 18, 68, 0.4), 0 1px 2px -1px rgb(9, 18, 68, 0.4),
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  grid-template-rows: 1fr 1fr;
  padding-inline: 1.5em;
  min-height: 85px;
  column-gap: 2em;
  row-gap: 0.6em;
  border-radius: 12px;
}
.tile[data-status='active'] {
  background: linear-gradient(
      207deg,
      oklab(0.2 -0.01 -0.11 /0.4) 25%,
      rgba(31, 26, 117, 0.4) 75%,
      oklab(0.2 -0.01 -0.11 /0.4) 100%
    ),
    radial-gradient(
      circle at center,
      oklab(0.39 -0.03 -0.22 /0.4) 0%,
      oklab(0.2 -0.01 -0.11 /0.4) 100%
    );
}
.icon {
  grid-column: span 1;
  grid-row: span 2;
  display: grid;
  align-content: center;
  justify-content: end;
}
.desc {
  display: grid;
  align-items: end;
  grid-column: span 3;
  grid-row: span 1;
}
.val {
  display: grid;
  grid-column: span 2;
  grid-row: span 1;
  align-items: start;
  color: #e68b65;
}
.perc {
  display: grid;
  align-items: start;
  grid-column: span 1;
  grid-row: span 1;
  justify-content: end;
  color: #e68b65;
}

.icon img {
  display: block;
  max-width: 32px;
}

.gapWrap {
  grid-column: 1/-1;
  /* grid-row: 1/-1; */
  background: linear-gradient(
      207deg,
      oklab(0.2 -0.01 -0.11 /0.4) 25%,
      rgba(31, 26, 117, 0.4) 75%,
      oklab(0.2 -0.01 -0.11 /0.4) 100%
    ),
    radial-gradient(
      circle at center,
      oklab(0.39 -0.03 -0.22 /0.4) 0%,
      oklab(0.2 -0.01 -0.11 /0.4) 100%
    );
  box-shadow: 0 1px 3px 0 rgba(9, 18, 68, 0.4), 0 1px 2px -1px rgb(9, 18, 68, 0.4),
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  display: grid;
  position: relative;
  padding-inline: 1.5em;
  min-height: 105px;
  column-gap: 2em;
  row-gap: 0.6em;
  border-radius: 12px;
  grid-template-rows: 40px 1fr;
  min-width: calc(240px);
}
.gapWrap > * {
  position: absolute;
  /* max-width: calc(210px-4em) !important; */
  bottom: -18%;
  padding: 1em;
  padding-inline: 1em;
  scale: .9;
  justify-self: center;
}
.gapWrap .desc {
  top: 0;
  bottom: unset;
  text-align: center;
  width: 100%;
  line-height: 1;
}
.gapLegendsForSelected {
  --sqr-size: 6px;
  bottom: -5%;
  /* margin-inline-start: -0.5em; */
  left: 50%;
  transform: translateX(-60%);
  font-size: 0.825rem;
  overflow: hidden;
  position: absolute;
  color: var(--unify-orange);
}
.gapLegends ul,
.gapLegends h4,
.gapLegendsForSelected ul {
  list-style: none;
  width: max-content;
  margin-inline: auto;
  display: flex;
  gap: var(--space-lg);
  justify-items: flex-start;
}
.gapLegendsForSelected li:nth-child(1)::before {
  content: '';
  display: inline-block;
  margin-inline-end: 0.4em;
  width: var(--sqr-size);
  height: var(--sqr-size);
  background-color: var(--legend-sm-color, rgb(94 196 100));
}
.gapLegendsForSelected li:nth-child(2)::before {
  content: '';
  display: inline-block;
  margin-inline-end: 0.4em;
  width: var(--sqr-size);
  height: var(--sqr-size);
  background-color: #ff797d;
}
