.wrap {
  min-height: calc(50% - 12em);
  display: grid;
  color: white;
  /* background: linear-gradient(to top, #385da8 0%, #1527a0 100%); */
  height: 100%;
  padding: 1em;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 300;
  max-width: 350px;

  background: #4f84d958 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 10px #0000005a;
}
.wrap img {
  max-width: calc(100% - 15em);
}
.wrap h5 {
  opacity: 0.6;
  font-weight: 300;
}
.wrap h2 {
  font-weight: 300;
  font-size: 2rem;
}