.grid {
  grid-template-columns: 1fr 0.65fr 0.78fr;
  grid-template-rows: 1fr 1.1fr;
  row-gap: 1em;
  padding-inline: 1em;
}
.prediction {
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.digitalInv {
  display: grid;
  margin-inline-start: -3em;
  grid-template-rows: max-content 1fr;
}
.testAndInsp {
  display: grid;
  grid-column: span 2;
  justify-content: center;
}

.digitalInv img {
  max-width: 80%;
  align-self: center;
  margin-inline: auto;
  padding-block-start: 1em;
}

.iframe{
height: 100%;
width: 100%;
border-radius: 12px;
border: none;

}