.alertArea {
  /* --animation-accent1: rgb(145, 41, 41); */
  --animation-accent1: #dc3447;
  display: grid;
  padding: 0px 25px;
  column-gap: 10px;
  grid-template-columns: 13% 29% 29% 29%;
  align-items: center;
  justify-items: center;
}

.alertContainer {
  visibility: var(--alert-box-visible);
  --animation-accent1: #dc3447;
  display: grid;
  grid-gap: var(--space-xxs);
  place-items: center;
  /* grid-template-rows: 80% 20%; */
  grid-template-rows: 170px 1fr;
}

.alertTitle {
  color: white;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.alertWidget {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
}

.alertWidgetText {
  color: white;
  font-size: 1.5rem;
  /* text-shadow: var(--sh-glow); */
  text-align: center;
}

.alertWidgetText span {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.alertSticker {
  position: relative;
  min-width: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alertSticker p {
  color: var(--unify-accent1);
}

.rippler {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid var(--animation-accent1);
}
.rippler p {
  padding: 0;
}

.rippler[data-mode='animate'] {
  border: none;
}
.rippler[data-mode='animate'] div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 6px solid var(--animation-accent1);
  border-radius: 50%;
  opacity: 1;
  animation: ripple 4s cubic-bezier(0, 0.2, 0.4, 1) infinite;
}

.rippler[data-mode='animate']:after {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50%;
  border: 6px solid var(--inv-accent2);
  animation: ripple 4s cubic-bezier(0, 0.5, 0.8, 1) infinite;
  animation-delay: 0.4s;
}

.rippler[data-mode='animate'] div:nth-child(2) {
  position: absolute;
  border: 6px solid var(--inv-accent3);
  /* animation: ripple 4s cubic-bezier(0, 0.5, 0.8, 1) infinite; */
  animation: ripple 4s ease-out infinite;
  animation-delay: 0.5s;
}

/******* KEY FRAMES *******/

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinBack {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-720deg);
    opacity: 1;
  }
}

@keyframes ripple {
  from {
    transform: scale(47%);
    opacity: 1;
  }
  20%,
  24% {
    opacity: 0.7;
  }
  to {
    transform: scale(100%);
    opacity: 0;
  }
}

.alertsColumn {
  --alert-bg: rgba(31, 95, 155, 1);
  --clip-path: polygon(3% 0, 100% 0, 100% 87%, 97% 100%, 0 100%, 0 15%);
  --title-color: var(--unify-accent1);
  --figure-color: #ffffff;
  --border-color: var(--proc-accent2);
  --icon-bg: var(--unify-accent1);
  --padding-top: 7px;
  --title-size: var(--font-lg);
  --figure-size: 2rem;
  display: grid;
  position: relative;
  grid-template-rows: repeat(var(--item-count, 6), max-content);
  row-gap: var(--space-xl);
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  padding-block: var(--space-md);
  transform: translateX(-1px);
  align-content: center;
  --alert-warn-color: var(--kpiYellow);


}

.alertIcon{
  display: block;
  margin: 0 auto;
  width: 103px;
  height: auto;
}
