.detailsContainer {
  /* padding: 0 var(--space-sm); */
  /* padding-top: 15px; */
  display: grid;
  gap: .5em;
  margin-top: .5em;
  margin-inline-end: .5em;
}

.invisible {
  display: none;
}

.detailsItem {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 5px;
  row-gap: 5px;
  justify-items: center;
}

.itemTitle {
  display: flex;
  width: 100%;
  height: 50px;
  margin-right: 25px;
  /* background-color: var(--inv-accent3); */
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: capitalize;
  align-items: center;
  justify-content: flex-end;
}

.itemValue {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: var(--unify-accent2);
  border-radius: 5px;
  color: white;
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
}
