.container {
  display: grid;
  gap: 0 var(--space-sm);
  grid-template-columns: 1.2fr 2fr .9fr;
  --block-title-color: var(--unify-font-light);
}

.smallColumn {
  display: grid;
  grid-template-rows: 3fr 2.12fr;
  gap: var(--space-sm) 0;
}
.bigColumn {
  display: grid;
  grid-template-rows: 2fr 1.4fr;
  gap: var(--space-sm) 0;
}
.row {
  display: grid;
}

.artboard img {
  height: calc(100vh - 120px);
  transform: translate(0, 15px);
}

.artboard {
  position: relative;
  display: flex;
  align-items: flex-end;
}
