.wrapper {
  width: 100%;
  display: grid;
  align-content: center;
  gap: var(--space-md);
  justify-items: center;
  color: #fafcfe;
  margin-block-start: -2em;
}
.wrapper img {
  max-width: 120px;
}

.activeValue {
  margin: 0 auto;
}

.activeValue :is(h1, h2) {
  margin: 0;
  line-height: 1.3;
  font-weight: 200;
}

.activeValue h1 {
  display: inline-block;
  padding-right: var(--space-xs);
  font-size: 6rem;
}

.activeValue h2 {
  font-size: 2rem;
  text-align: center;
}

.slowNonMoving{
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  justify-content: center;
}
.slowNonMovingSection{
  display: grid;
  grid-template-rows: 1.2fr 1fr 1fr;
  justify-items: center;
  row-gap: var(--space-xxs);

}
.slowNonMovingSection h2{
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 1;
}
.slowNonMovingSection h3{
  font-size: var(--font-lg);
  font-weight: lighter;
  opacity: .85;
}
.slowNonMovingSection h4{
  font-size: 2.5rem;
  font-weight: lighter;
  line-height: 1.2;
}
.movingValue {
  margin: 0 auto;
  align-self: flex-start;
  display: grid;
  gap: var(--space-lg);
  grid-template-columns: 1fr 1fr;
  font-weight: 200;
}
.movingValue img {
  display: block;
  align-self: center;
  max-width: 80px;
  transform: translate(3px, 26px);
  justify-self: center;
}

.mvCol {
  display: block;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

.mvCol h2 {
  margin-bottom: var(--space-xs);
  font-size: var(--font-lg);
  font-weight: 200;
  color: #cfcfdd;
}

.mvCol h3 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.3;
}

/* make it swaping */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  min-width: 100%;
  justify-content: center;
}
.front {
  z-index: 2;
  transform: rotateX(0deg);
}
.back {
  transform: rotateX(180deg);
}

.frontBackWrapper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 100% 0.95em; /* half of height */
  transform: rotateX(var(--rotate-deg));
}
