.alertItemSVG {
  visibility: var(--alert-box-visible, 'visible');
  position: relative;
  width: 100%;
  display: block;
  min-height: 8em;
}

.alertItemSVG .box {
  width: 100%;
  /* z-index: -1; */
}

.alertItemSVG .content {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 90%;
  min-height: 8em;
  z-index: 99;
  display: grid;
  column-gap: 5px;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.alertItemSVG .content svg {
  place-self: center;
}

.alertItemSVG .content .text {
  /* padding-top: 5px; */
}

.alertItemSVG .content .text h1 {
  padding-top: var(--padding-top);
  color: var(--title-color);
  font-size: var(--title-size);
  font-weight: 300;
  line-height: 1.3;
  text-shadow: var(--sh-title);
}

.alertItemSVG .content .text figure {
  display: grid;
  grid-template-columns: max-content 1fr;
  font-size: var(--figure-size);
  font-weight: 500;
}

.alertItemSVG .content .text figure span {
  font-size: 1.1rem;
  font-weight: 200;
  vertical-align: baseline;
}

.cls1 {
  isolation: isolate;
}

.cls2 {
  opacity: 0.3;
  mix-blend-mode: multiply;
}

.cls3,
.cls5 {
  fill: #7e8dd5;
}

.cls3,
.cls4,
.cls5 {
  stroke: #a56bf5;
  stroke-miterlimit: 10;
}

.cls3.blue,
.cls4.blue,
.cls5.blue {
  stroke: #7e8dd5;
}

.cls3 {
  opacity: 0.2;
}

.cls4 {
  fill: none;
  stroke-width: 0.5px;
}

.container svg {
  display: block;
  margin-inline: auto;
  transition: 0.6s;
}

.wrapper{
  user-select: none ;
  background-color: #15397a;;
  border: solid #1B75BB 1px;
  border-radius: 70px;
  display: grid;
  min-height: 104px;
  box-shadow:#15397ab5 3px 2px 6px 4px;
  visibility: var(--alert-box-visible, 'visible');
}
.wrapper:hover img{
  border: solid  2px var(--unify-accent1);
  padding:3px;
  transform: scale(.9);

}

.content{
  display: grid;
  color: var(--unify-font-light);
  grid-template-columns: 1.65fr 2fr 1.9fr;
  border-radius: 48px ;
  margin: 1px;
  /* box-shadow: #0e3669a6 inset 0px 0px 30px 8px; */
}
.content .text{
  display: contents;
}
.content .figureContent{
  display: grid;
  --figure-size:1.425rem;
  align-content: center;
  padding-inline-start: var(--space-xs);
  row-gap: var(--space-xs);
  line-height: .8;
}
.content figure{
  font-size: var(--figure-size);
  font-weight: 500;

}

.content h1{
  --title-size:1.1rem;
  color: var(--unify-font-light);
  font-size: var(--title-size);
  font-weight: 300;
  line-height: 1.3;
  text-shadow: var(--sh-title);

}

.content .iconContent, .content h1{
  justify-self: center;
  align-self: center;
}
.iconContent{
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}

.danger {
  animation: alterRed 1.2s ease-in-out infinite alternate;
}

.normal {
  color: var(--alert-normal-color, var(--lg-accent1));
}

.warn {
  color: var(--alert-warn-color, var(--lg-accent1));
}

.dangerLiveChange {
  /* animation-name: bounce-and-alterRed; */
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
.warnLiveChange {
  /* animation: bounce 1.2s ease-in-out infinite alternate; */
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
.normalLiveChange {
  /* animation: bounce 1.2s ease-in-out infinite alternate; */
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes alterRed {
  from {
    color: var(--danger-color, var(--kpiRed));
  }

  to {
    color: var(--alert-normal-color, var(--lg-accent1));
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-40px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-5px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce-and-alterRed {
  0% {
    transform: scale(1, 1) translateY(0);
    color: var(--danger-color, var(--kpiRed));
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-40px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
    color: var(--alert-normal-color, var(--lg-accent1));
    opacity: 0.9;
  }
  57% {
    transform: scale(1, 1) translateY(-5px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
    color: var(--danger-color, var(--kpiRed));
  }
}

.inc {
  padding-block: 1em;
  width: 1em;
  background-color: #ffd8bb;
  transition: 1s;
  transform: translateY(var(--increment, 0));
  position: relative;
  color: black;
}
