.differenceValue {
  transition: ease-in-out 222ms;
  color: white;
  font-size: 16px;
}
.differenceWrapper{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}
.differenceWrapper>*{
  transition: ease-in-out 222ms;
}

.differenceWrapper>div{
  opacity: var(--live-change-animation, 0);
  grid-row: 1/2;
  grid-column: 1/2;
}
 .differenceWrapper > p{
  opacity: var(--live-change-animation, 0);
  grid-column: 1/2;
  grid-row: 2/3;
}
.differenceWrapper img{
  opacity: var(--live-change-animation2, 0);
  grid-row: 1/3;
  grid-column: 1/2;
  width:min(1.5em,1.54em);
  border-radius: 12px;
  padding-inline-start: 4px;
  margin-inline-end: -2px;
 object-fit: contain;
  align-self: center;
  height: auto;
}

.arrowUp,.arrowDown{
  color:var(--live-change-color);
  font-size: var(--font-lg);
  justify-self: center;
  max-height: 28px;
}
.differenceInChangeValue{
  padding: 0;
  transition: ease-in-out 222ms;
  color: #fefa;
  font-size: 16px;

}
.scrollDown,
.differenceValue,
.scrollUp {
  --arrow-size: 33px;
  opacity: var(--live-change-animation, 0);
  margin: 0;
  position: absolute;
  left: 80%;
  top: 46%;
  width: var(--arrow-size);
  height: var(--arrow-size);
  margin-left: calc(var(--arrow-size) / 2);
  margin-top: calc(var(--arrow-size) / 2);
}

.scrollDown {
  margin-top: calc(var(--arrow-size) / 3);
}

.scrollUp .beforeAfterWrapper {
  display: block;
  opacity: 0.6;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  line-height: 0;
  font-size: 0;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  -moz-background-size: 0 auto;
  -o-background-size: 0 auto;
  -webkit-background-size: 0 auto;
  background-size: 0 auto;
  animation: pulse-up 1.5s 0s infinite normal ease forwards;
  background-image: var(--arrow-up-path);

  background-repeat: no-repeat;
}
.scrollUp .before,
.scrollUp .after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: var(--arrow-up-path);
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.scrollUp .before,
.scrollUp .after {
  animation: pulse-up 1.5s 0.25s infinite normal ease forwards;
}

.scrollDown .beforeAfterWrapper {
  display: block;
  opacity: 0.6;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  line-height: 0;
  font-size: 0;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  -moz-background-size: 0 auto;
  -o-background-size: 0 auto;
  -webkit-background-size: 0 auto;
  background-size: 0 auto;
  animation: pulse-down 1.5s 0s infinite normal ease forwards;
  background-image: var(--arrow-down-path);

  background-repeat: no-repeat;
}
.scrollDown .before,
.scrollDown .after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--arrow-down-path) no-repeat center top;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.scrollDown .before,
.scrollDown .after {
  animation: pulse-down 1.5s 0.25s infinite normal ease forwards;
}

@keyframes pulse-down {
  0% {
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}
@keyframes pulse-up {
  0% {
    background-position: center bottom;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
    -moz-background-size: 75% auto;
    -o-background-size: 75% auto;
    -webkit-background-size: 75% auto;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center top;
    -moz-background-size: 0 auto;
    -o-background-size: 0 auto;
    -webkit-background-size: 0 auto;
    background-size: 0 auto;
  }
}
