.container {
  display: grid;
  /* grid-template-rows: 42px 1fr; */
}

.title {
  color: var(--proc-accent1);
  font-size: var(--font-md);
  margin-block-start: -.5em;
  font-weight: 500;
  text-transform: uppercase;
}
