html,
body {
  min-height: 100vh;
  background: #1c1f26;
  font-family: 'Poppins', system-ui, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
}

.inventory-container {
  display: grid;
  grid-template-rows: 67px 1fr;
}

.inventory-chart-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 305px 1fr 294px;
}

.grid {
  display: grid;
  padding: 0px 25px;
  column-gap: 10px;
}

.area-container {
  margin: 20px 10px;
  padding: 20px;
  border: 1px solid var(--inv-accent1);
  border-radius: 25px;
}

.error-kpi {
  grid-template-columns: 50% 50%;
}

.chart {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  bottom: 10px
}